@keyframes bgCahnges{
    0% {
        background-color: var(--color-primary-default);
        
    }
    50%{
        background-color: var(--color-secondary-light);
        
    }
    100% {
        background-color: var(--color-positive-1);

    }
}