
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
body {
    font-family: 'Assistant',sans-serif;
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
}
